<main>
    <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Dashboard</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Inventario</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Productos</a></li>
        </ul>

        {{!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> --}}

        <div class="dropdown text-end">
          {{#if username}}
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            {{ username }}
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Nuevo Producto...</a></li>
            <li><a class="dropdown-item" href="#">Propiedades</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
          </ul>
            {{else}}
            <div class="alert alert-danger" role="alert">Debes iniciar Sesion</div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</main>
<div>
{{> content}}
</div>
