<main class="vh-100">
 

     <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 ">
                <div class="card clay1 text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center black1">
                        <h1>No tiene permisos para ver esta página</h1>
                        <a href="/" class="btn btn-secondary">Volver</a>
                    </div>
                    
                </div>
            </div>
        </div>
     </div>
</main>




